.overlay_modal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}
.overlay_modal.open {
  opacity: 1;
  pointer-events: inherit;
}
.overlay_modal .modal_window {
  background: white;
  text-align: center;
  padding: 20px 40px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}
.overlay_modal .modal_window.open {
  opacity: 1;
  pointer-events: inherit;
}
.overlay_modal .modal_window.open .content {
  transform: translate(0, 0px);
  opacity: 1;
}
.overlay_modal .modal_window .content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: 0.35s ease-in-out;
}
.overlay_modal .modal_window .title {
  margin-top: 0;
}
